<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malerei Mucke</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="parallax">
        <div class="container">
            <div class="topnav">
                <a href="/home">Home</a>
                <a href="#uebermich">Über Mich</a>
                <a href="/gallery">Galerie</a>
                <a href="kontakt.html">Kontakt</a>
                <a href="/">Hochladen</a>
            </div>
        </div>
    </div>

</body>

</html>